@media (max-width: 550px) {
    .header {
        flex-direction: column;
        padding: 40px 80px;
    }

    .logo h1 {
        font-size: 40px;
        margin: 15px 0;
    }
    .menu {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .nav-item {
        margin-left: 0;
        margin: 33px 0;
    }
    
    .nav-item a {
        font-size: 40px;
        padding: 17px 40px;
    }

    nav .cadastre-se {
        margin-left: 0;
        padding: 15px 30px;
        margin: 15px auto;
    }

    nav .cadastre-se a {
        font-size: 18px;
    }
}

@media (max-width: 830px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
    
    .menu {
       margin-top: 20px;
    }

    .nav-item:first-child {
        margin-left: 0;
    }
}