.header {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    /* flex-wrap: wrap; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo h1 {
    font-weight: 800;
    font-size: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 23px;
}

.nav-item a {
    display: inline-block;
    padding: 11px 7px;
    font-size: 15px;
    line-height: 18px;
    transition: 0.3s ease-in-out;
}

.nav-item.active a, .nav-item a:hover {
    color: #ffffff;
    background-color: #5BC241;
}

nav .cadastre-se {
    background-color: #5BC241;
    padding: 10px 21px;
    border-radius: 10px;
    margin-left: 30px;
}
nav .cadastre-se a {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #ffffff;
}
nav .cadastre-se:hover {
    opacity: 80%;
}